*{
    margin: 0;
    padding: 0;
    font-family: monospace;
}
body{
    background-color: whitesmoke;
}
header{
    background-color: white;
    color: tomato;
    padding: 40px;
    box-shadow: rgba(0, 0, 0, 0.15) 0px 2px 8px;
    display: flex;
    gap: 10px;
    justify-content: space-between;
}
input, .addCity{
    width: 130px;
    height: 35px;
    border: none;
    border-radius: 5px;
    font-size: larger;
    font-weight: bold;
    padding: 0 10px;
    background-color: whitesmoke;
}
.addCity:hover{
    cursor: pointer;
    background-color: yellowgreen;
}
input:focus{
    outline: none;
}
.hide{
    display: none;
}
.main{
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(260px, 1fr));
    gap: 30px;
    padding: 40px;
}
.weatherDiv{
    background-color: white;
    border-radius: 10px;
    box-shadow: rgba(0, 0, 0, 0.15) 0px 2px 8px;
    padding: 20px;
    display: grid;
    gap: 20px;
    text-align: center;
    border-left: 10px solid tomato;
}
.temp{
    font-size: 40px;
}
.buttons{
    text-align: right;
}
.remove, .toggle{
    margin: 5px;
    padding: 10px;
    border-radius: 50%;
    background-color: whitesmoke;
}
.remove:hover, .toggle:hover{
    cursor: pointer;
}
.remove:hover{
    background-color: tomato;
}
.toggle:hover{
    background-color: yellowgreen;
}